@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ var user = await UserManager.GetUserAsync(User); }
<ul>
    <li class="current_section" title="Dashboard">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <span class="menu_icon"><i class="material-icons">home</i></span>
            <span class="menu_title">Home</span>
        </a>
    </li>

    @if (user.Finalized == 0)
    {
        <li title="Forms">

            <a asp-area="" asp-controller="Upload" asp-action="Index">


                <span class="menu_icon"><i class="material-icons">upload</i></span>
                <span class="menu_title">Upload Picture</span>
            </a>
        </li>
        @if ((user.PictureUploaded) == 1)
        {
            <li title="Forms">

                <a asp-area="" asp-controller="Form" asp-action="Create">


                    <span class="menu_icon"><i class="material-icons">account_box</i></span>
                    <span class="menu_title">Forms</span>
                </a>
            </li>
            @if ((user.Started) == 1)
            {
                @if ((user.Type) != "MTECH" || user.Type != "BRIDGING" || user.Type != "ACCELERATED" || user.Type != "TOPUP")
                {
                    <li title="Forms">

                        <a asp-area="" asp-controller="Result" asp-action="Index">


                            <span class="menu_icon"><i class="material-icons">upload</i></span>
                            <span class="menu_title">Upload Results</span>
                        </a>
                    </li>
                }
            }
            @if ((user.FormCompleted) == 1)
            {

                <li title="Forms">

                    <a asp-area="" asp-controller="Preview" asp-action="Index">


                        <span class="menu_icon"><i class="material-icons">account_box</i></span>
                        <span class="menu_title">Preview Form</span>
                    </a>
                </li>
            }
        }

        @if ((user.Type) == "MTECH" || user.Type == "MTECH")
        {

            @*<li title="Forms">

                    <a asp-area="" asp-controller="WorkExperience" asp-action="Index">


                        <span class="menu_icon"><i class="material-icons">note-plus</i></span>
                        <span class="menu_title">Upload Work Experience</span>
                    </a>
                </li>*@

        }



        @*@if ((user.PictureUploaded) == 1)
                <li title="Mailbox">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">account_balance</i></span>
                        <span class="menu_title">Book Accommodation</span>
                    </a>
                </li>
            }*@
    }
    else if((user.Admitted == true) &&  ViewBag.fees>1000){
    
     <li title="Mailbox">
                        <a asp-area="" asp-controller="Accommodation" asp-action="Index">
                            <span class="menu_icon"><i class="material-icons">account_balance</i></span>
                            <span class="menu_title">Book Accommodation</span>
                        </a>
                    </li>
    
    }
    else
    {

        <li title="Forms">

            <a asp-area="" asp-controller="Preview" asp-action="Index">


                <span class="menu_icon"><i class="material-icons">account_box</i></span>
                <span class="menu_title">Preview Form</span>
            </a>
        </li>
    }

    <li title="Click to Logout">


        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })"
           onclick="event.preventDefault();
                                                 document.getElementById('logout-form').submit();">


            <span class="menu_icon"><i class="material-icons">logout</i></span>
            <span class="menu_title">Logout</span>

        </a>

        <form id="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="POST" style="display: none;">
        </form>

    </li>



    @*<li>
            <a href="index.html#">
                <span class="menu_icon"><i class="material-icons">&#xE8C0;</i></span>
                <span class="menu_title">Settings</span>
            </a>
            <ul>
                <li><a href="plugins_calendar.html">Calendar</a></li>
                <li><a href="plugins_charts.html">Charts</a></li>
                <li><a href="plugins_code_editor.html">Code Editor</a></li>
                <li><a href="plugins_crud_table.html">CRUD Table</a></li>
                <li><a href="plugins_datatables.html">Datatables</a></li>
                <li><a href="plugins_diff.html">Diff View</a></li>
                <li><a href="plugins_gantt_chart.html">Gantt Chart</a></li>
                <li><a href="plugins_google_maps.html">Google Maps</a></li>
                <li><a href="plugins_tablesorter.html">Tablesorter</a></li>
                <li><a href="plugins_vector_maps.html">Vector Maps</a></li>
            </ul>
        </li>*@

</ul>