@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet" />
    <link rel="icon" href="https://www.linode.com/favicon.ico" type="image/x-icon" />
    <title>Takoradi Technical University - Admissions | Privacy</title>

    <meta name="description" content="Login to TTU admissions" />

    <meta property="og:title" content='TTU Admisssions'>
    <meta property="og:description" content='Login to your TTU admissions system.'>
    <meta property="og:url" content="https://ttu.edu.gh">

    <meta property="og:type" content="website">


    <meta name="keywords" content="TTU, Admissions, TTUPORTAL, Takoradi Technical University, admissions, login" />
    <meta name="author" content="G.K Ocansey" />

    <link rel="stylesheet" href="~/css/main-96289b3d.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:500&amp;display=swa">


    <link rel="icon" type="image/x-icon" href="~/img/logo.png" />
</head>
<body class="login-page sm:p-4 no-js">
    <script type="text/javascript">document.body.classList.remove("no-js");
        document.body.classList.add("js");</script>

    <div class="max-w-main mx-auto w-full ">
         
        
        <div class="main-container mx-auto w-full bg-white py-4 sm:py-24 px-4 md:px-24">
            <header>
                <h1 class="main-heading" data-qa-title="Welcome back!">Takoradi Technical University</h1>
            </header>
            <main class="mx-auto max-w-md">

                <main id="main-content">
                    <div class="fl-builder-content fl-builder-content-9398 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="9398">
                        <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5de9447fec3cd fl-row--grid fl-row--span-8" data-node="5de9447fec3cd">
                            <div class="fl-row-content-wrap">
                                <div class="fl-row-content fl-row-fixed-width fl-node-content">
                                    <div class="fl-col-group fl-node-5de9447fec415" data-node="5de9447fec415">
                                        <div class="fl-col fl-node-5de9447fec459" data-node="5de9447fec459">
                                            <div class="fl-col-content fl-node-content">
                                                <div class="fl-module fl-module-intro fl-node-5de9447fec49b" data-node="5de9447fec49b">
                                                    <div class="fl-module-content fl-node-content">
                                                        <div class="c-intro">
                                                            <h1 class="c-intro__heading">
                                                                <div class="c-intro__eyebrow">
                                                                    Current Version: 1.4
                                                                </div>
                                                                Privacy Policy
                                                            </h1>
                                                            <div class="c-intro__body">
                                                                <p style="text-align: center"><span style="font-size: 16px"><strong>Last Updated</strong>: 12 June 2020</span></p>
                                                                <p style="text-align: center"><span style="font-size: 16px"><strong>Effective Date</strong>: 2nd January 2021</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fl-module fl-module-rich-text fl-node-5de9447fec4dd" data-node="5de9447fec4dd">
                                                    <div class="fl-module-content fl-node-content">
                                                        <div class="fl-rich-text">
                                                            <p><span style="font-weight: 400; font-size: 16px;">Linode respects your privacy and is dedicated to protecting the Personal Data it collects. The purpose of this Privacy Policy ("<span style="text-decoration: underline;">Policy</span>") is to inform you about the privacy of your data while using a Service. </span></p>
                                                            <p><span style="font-size: 16px;"><strong>By using or continuing to use a Service, including without limitation visiting Linode's website or otherwise providing your Personal Data to Linode, you accept and consent to the rights, obligations, and practices described in this Policy.</strong></span></p>
                                                            <p style="text-align: center;"><span style="font-size: 22px;"><b>User Choice</b></span></p>
                                                            <p><span style="font-weight: 400;">Linode is committed to the principles of user consent and choice and encourages you to determine your preferred experience when interacting with Linode. To this end, you may limit, restrict, or deny Linode's ability to share your Personal Data with third parties, or to use your Personal Data for a purpose that is materially different from the purpose for which it was originally collected or authorized by you, subject to applicable law. In order to exercise your right to choose, please contact us via email at <a href="/cdn-cgi/l/email-protection#e090928996818399a08c898e8f8485ce838f8d"><span class="__cf_email__" data-cfemail="7505071c0314160c35191c1b1a11105b161a18">[email&#160;protected]</span></a>, postal mail, or telephone using our contact information found on the<a href="https://linode.com/support"> Support</a> page. </span></p>
                                                            <p style="text-align: center;"><span style="font-size: 22px;"><b>Notices</b></span></p>
                                                            <p><span style="font-weight: 400;">Some jurisdictions require Linode to supply statutory notices regarding your Personal Data. These notices can be found </span><a href="https://www.linode.com/legal"><span style="font-weight: 400;">here</span></a><span style="font-weight: 400;">, including Linode’s </span><a href="https://www.linode.com/legal-notice-gdpr"><span style="font-weight: 400;">GDPR</span></a><span style="font-weight: 400;">, </span><a href="https://www.linode.com/legal-notice-gdpr"><span style="font-weight: 400;">Privacy Shield</span></a><span style="font-weight: 400;">, and </span><a href="https://www.linode.com/legal-notice-ccpa"><span style="font-weight: 400;">CCPA</span></a><span style="font-weight: 400;"> specific notices. </span></p>
                                                            <p style="text-align: center;"><span style="font-size: 22px;"><b>Additional Terms </b></span></p>
                                                            <ol class="o-list--legal">
                                                                <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Applicability</strong>. This Policy applies to you and your Covered Users with respect to the Services.  You shall be responsible for (i) informing your other Covered Users, if any, of the existence of this Policy, as well as any amendments, updates, or modifications made to this Policy and (ii) agreeing to this Policy, as amended, updated or modified from time to time, on behalf of all Covered Users</span>.</li>
                                                                <li style="font-weight: 400;"><strong>Types of Collected Data</strong>. <span style="font-weight: 400;">Linode considers any information that can be used to directly or indirectly identify you to be “</span><span style="text-decoration: underline;"><span style="font-weight: 400;">Personal Data</span></span><span style="font-weight: 400;">,” including without limitation, Personal Data that is accessed, collected, maintained, transmitted, and/or used by Linode in the normal course of our business, and is subject to the provisions of this Policy, Terms of Service, and applicable law. Please note, in the absence of any notice to the contrary, you expressly grant Linode permission to share your Personal Data at Linode's discretion</span>.</li>
                                                                <li style="font-weight: 400;"><strong>Methods of Data Collection</strong>. Linode uses cookies and similar technologies to enhance your experience and interactions with the Services. These tools can be stored locally, and are used by Linode and our Representatives for operationally necessary purposes, as well as functional, performance, analytical, and marketing reasons. Linode also uses third party tools, such as <a style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" href="https://analytics.google.com/">Google Analytics</a><span style="font-weight: 400;">, to enhance our provision of the Services. Like us, Google Analytics may employ third party tracking tools to gather anonymous browser, operating system, geographic, and website navigation information. You can learn about Google’s privacy practices </span><a style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" href="https://www.google.com/policies/privacy/">here</a><span style="font-weight: 400;">, as well as also opt-out of your data from being shared with Google Analytics by downloading Google’s opt-out browser add-on </span><a style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" href="https://tools.google.com/dlpage/gaoptout">here</a><span style="font-weight: 400;"> or by exercising your user choice options above. </span>To learn more about Linode’s use of cookies and similar technologies, please review Linode’s Cookie Policy found <a style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" href="https://www.linode.com/legal-cookies">here</a><span style="font-weight: 400;">. </span></li>
                                                                <li style="font-weight: 400;">
                                                                    <strong style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Purposes of Collected Data</strong><span style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">.</span>
                                                                    <ol>
                                                                        <li style="font-weight: 400;"><i style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">For Customers. </i><span style="font-weight: 400;">Linode may use Personal Data to process your service requests, handle orders, deliver products and services, process payments, communicate with you about orders, provide access to secure areas of Linode's website, and to enable Linode to review, develop, and continually improve the products, services, and offers that it provides. Linode also uses this information to prevent or detect fraud or abuses of Linode's website and to enable third parties to carry out technical, logistical, or other functions on its behalf</span>.</li>
                                                                        <li style="font-weight: 400;"><i style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">For Visitors. </i><span style="font-weight: 400;">Linode may use Personal Data to send information about Linode to visitors and to contact such visitors. Linode also uses the information that it collects to improve the content of our website, enhance user experiences, and as training aids for our employees. Visitors have discretion as to whether to grant information to Linode, and may opt-out from such processes as outlined above</span>.</li>
                                                                        <li style="font-weight: 400;"><i style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">For Payment Information. </i>L<span style="font-weight: 400;">inode may ask Account holders to enter credit card or account information in order to process orders for Services. Financial information provided via our website is transferred to a Linode Third Party Service Provider for payment processing. This information may be encrypted and stored for logging purposes by Linode and our Linode Third Party Service Provider for payment processing. Credit card numbers are used by Linode Third Party Service Provider only for processing payments and are not used for any other purposes. Linode has entered into written agreements with our Third Party Service Providers, and it will continue to enter into written agreements with third parties that provide payment processing services</span>.</li>
                                                                        <li style="font-weight: 400;">
                                                                            <i style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">For Use Information. </i><span style="font-weight: 400;">Linode uses website use information to measure interest in and develop its web pages and marketing plans, customize the content you view on your web visits based on your activity during past visits, and administer Linode's website. In addition, Linode uses</span>:
                                                                            <ul>
                                                                                <li><span style="font-weight: 400;">IP addresses to help diagnose problems with its servers, and to administer its website;</span></li>
                                                                                <li><span style="font-weight: 400;">cookies and other tools to help it recognize users as unique when they return to Linode's website. Linode also uses cookies to tailor content or advertisements to match your preferred interest; avoid showing Visitors the same advertisements repeatedly; compile anonymous, aggregated statistics that allow Linode to understand how users use its site and to help it improve the structure of its website; and  </span></li>
                                                                                <li><span style="font-weight: 400;">web beacons to count the number of times that its advertisements and web-based email content are viewed. Linode combines web beacon information with cookies to track activity on its website originating from advertisements and web-based email content.</span></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li><i style="font-family: system-ui, '---apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">For Support Information. </i>Linode uses information that you provide to it via telephone calls, chat, email, web forms, and other communications to correspond with you about services you may be interested in purchasing. If you elect to purchase a service online using a web form, Linode will use the information to establish your account. Information you submit in writing, such as chat, email, and web form information is archived and may be tied to information that Linode collects about your web visits. Your telephone calls may be recorded for training and operational purposes and Linode may enter information you provide via telephone into its systems to use for the purposes described in this paragraph.</li>
                                                                    </ol>
                                                                </li>
                                                                <li><strong>Disclosure to Regulatory Agencies and other Third</strong> <strong>Parties</strong>. <span style="font-weight: 400;">Linode transfers Personal Data to third parties, including without limitation, law enforcement agencies and consumer reporting agencies, in the normal course of business, subject to service of lawful process or your written consent. If you breach the Terms of Service, or if Linode is under a duty to disclose your Personal Data in order to comply with any legal obligation, Linode may disclose your information to the relevant authority. Disclosure may include, but is not limited to, exchanging information with other companies and organizations for the purposes of regulatory auditing, fraud protection and credit risk reduction. In particular, Linode may release the information it collects to third parties when Linode believes that it is appropriate to comply with the law, to enforce legal rights, to protect the rights and safety of others, or to assist with industry efforts to control fraud, spam or other undesirable conduct. Linode may also release the information it collects to third parties, where the information is provided to enable such third party to provide services to Linode, provided that the third party has agreed to use at least the same level of privacy protections described in this Policy, and is permitted to use the information only for the purpose of providing services to Linode. In the event you request the disclosure of your Personal Data by Linode by, you will be responsible for the cost of disclosure efforts outside of Linode's normal course of business</span>.</li>
                                                                <li><strong>Access to Personal Data</strong>. Y<span style="font-weight: 400;">ou control access to Personal Data maintained or stored by you via Linode's web-based interface for account management. You may update your information at any time. You may cancel your account at any time and may request that your personal information be deleted from Linode's databases, with the exception of: network access logs, which may be stored for any duration of time at Linode's discretion; cases where financially fraudulent or otherwise illegal activity is deemed to have occurred (as determined by Linode management or law enforcement officials), in which case personal information may be retained indefinitely for purposes of ongoing investigation and prevention of fraud recurrence; or cases where a violation of the Terms of Service has resulted in cancellation of your account (as defined by revocation of your permission to utilize Linode's services), in which case personal information may be retained indefinitely for purposes of prevention of further use of Linode's services in the future by the offending individual. Upon request, Linode will grant you reasonable access to Personal Data maintained by Linode about you. In addition, we will take reasonable steps to correct, amend, or delete information that is demonstrated by you to be inaccurate, incomplete, or processed in violation of applicable law. Unless required by law, Linode will not permit you to access the Personal Data of any Data Subject other than yourself</span>.</li>
                                                                <li><span style="font-weight: 400;"><strong>Sensitive Information</strong>. Linode will not intentionally collect or maintain, and requests that you do not provide, any information regarding your medical or health condition, race or ethnic origin, political opinions, religious or philosophical beliefs, or other sensitive information. If you host any material or information that is sensitive and/or subject to the Graham-Leach Bailey Act, the Health Information Privacy Portability and Accountability Act, or any other law or regulation, such information and compliance with applicable privacy laws, remains solely your responsibility. Linode is not responsible for any sensitive information stored by you on our systems.</span></li>
                                                                <li style="font-weight: 400;"><b>Third Party Transfers of Data</b><span style="font-weight: 400;">. Linode may transfer Personal Data to third parties acting on our behalf when operationally necessary to provide the Services. If Linode has received your Personal Data in the US subsequently transfers your Personal Data to a third party acting on our behalf, and such third-party agent processes your Personal Data in a manner that is inconsistent with this Policy, Linode will remain responsible and liable unless we can prove that Linode is not responsible for the event giving rise to the damage. </span></li>
                                                                <li><b>Children's Online Privacy Protection</b><span style="font-weight: 400;">. The services are not designed for or directed to children under thirteen (13) years of age and Linode will not intentionally collect or maintain information about anyone under thirteen (13) years of age.</span></li>
                                                                <li><b>Unmanaged Service</b><span style="font-weight: 400;">. You bear sole responsibility for maintaining the security of virtual private server ("</span><span style="text-decoration: underline;"><span style="font-weight: 400;">VPS</span></span><span style="font-weight: 400;">") environments maintained under your Account(s). You are solely responsible for ensuring compliance with any and all applicable privacy guidelines and regulations for all jurisdictions in which you may operate with respect to appropriate practices for the collection, storage, and dissemination of personal information using your VPS. In no event shall Linode be held liable for your failure to adopt and/or practice appropriate measures for safeguarding personal information stored within or transmitted through your VPS.</span></li>
                                                                <li><b>Enforcement</b><span style="font-weight: 400;">. If you believe your Personal Data has been used in a way that is not consistent with this Policy, or if you have further questions regarding this Policy, please contact our custodian of records via email or by writing to us at the following address: Custodian of Records, Linode LLC, 249 Arch Street, Philadelphia, Pennsylvania 19106 the (the "</span><span style="font-weight: 400;">Custodian of Records</span><span style="font-weight: 400;">"). </span></li>
                                                                <li style="font-weight: 400;"><b>Dispute Resolution</b><span style="font-weight: 400;">. Please direct any complaints regarding this Policy to us at <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ee9e9c87988f8d97ae828780818a8bc08d8183">[email&#160;protected]</a>, or via postal mail, or telephone using our contact information found on the Support <a href="https://www.linode.com/support">page</a>. We will attempt to resolve any such complaints in a reasonably timely manner and in accordance with this policy. If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact our U.S.-based third party dispute resolution provider (free of charge) at https://feedback-form.truste.com/watchdog/request. Issues regarding Personal Data not resolved pursuant to this section are subject to the dispute resolution procedures described in the MSA. </span></li>
                                                                <li><b>Changes</b><span style="font-weight: 400;">.  Amendments to this Policy may be made at any time and you should check back frequently for any changes. Linode shall have the right and ability to amend this Policy at Linode's sole and absolute discretion, and any amendments herein shall be effective within fourteen (14) days of being posted  by Linode or by your continued use of the Services, whichever later. </span></li>
                                                                <li><b>Verification</b><span style="font-weight: 400;">. Linode utilizes the self-assessment approach to assure its compliance with its Privacy Policy. Linode regularly verifies that the Policy is accurate, comprehensive, prominently displayed, completely implemented, and in conformity with applicable international law. Linode conducts its self-assessment on an annual basis to ensure that all relevant privacy practices are being followed. Appropriate employee training is in place and internal procedures for periodically conducting objective reviews of compliance are in place. A statement verifying this self-assessment is signed by a corporate officer or other authorized representative at least once per year.</span></li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer text-sm">
                         
                        <p>
                            Aggred to privacy policies?
                            <a href="/login" title="Log in" data-qa-log-in>Proceed to Login</a>.
                        </p>
                    </div>
                </main>
               
                 


            </main>
        </div>
    </div>


    <script src="~/js/jquery-3.4.1.min-2115753c.js"></script>
    <script src="~/js/jquery.validate.min-6a76e4c7.js"></script>
    <script src="~/js/bundle.min-26fdfa07.js"></script>

    <script>$('.help').tooltip();</script>


</body>
</html>